.div-menu{
    /* background-color: white; */
}
header h1 {
    background-image: url('../img/Imperial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    color: #f1000987;
    text-align: center;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
header nav {
    background-color: #bc070ead;
    padding: 20px 0;

}

header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}

.lista-menu li {
    border: 1px solid white;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    padding: 15px 20px;
    color: white;
}

.lista-menu li:hover {
    background-color: yellow;
    color: black;
    border-color: yellow;
}

main {
    background-color: rgb(107, 107, 107);
    padding: 20px;
}

footer {
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 18px 0;
}

footer li {
    font-size: 1.0rem;
    list-style: none;
    padding-bottom: 10px;
    text-align: center;
}

