.starships {
    background-color: rgb(24, 119, 24);
    color: white;
    border: 2px solid #FFFFFF;
}

.starships:hover {
    background-color: rgb(30, 182, 30);
    font-weight: bold;
}

.starships p {
    margin-bottom: 15px;
}